
 h1 {
    text-align: center;
}

  /*body{
  background: url(iips.jpg) no-repeat center center fixed ; 
  -webkit-background-size: cover;
   background-color: rgba(255,255,255,0.5);
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  }*/
body{ background: url('welcome.jpg') no-repeat center center fixed;   
         
         -webkit-background-size: cover;
         -moz-background-size: cover;
           -o-background-size: cover;
          background-size: cover;
 }




